/* Keep timings in sync with delays in `ChangeAsync` */
.fade-out {
    transition: opacity 200ms ease-in;
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    transition: opacity 200ms ease-in;
    opacity: 1;
    pointer-events: none;
}