pre {
    border: 4px solid transparent;
}

.red-hover:hover {
    border: 4px solid red;
}

.green-hover:hover {
    border: 4px solid green;
}

.yellow-hover:hover {
    border: 4px solid orange;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: orange;
}
