.hasHover {
    border: 4px solid transparent;
}

pre {
    border-radius: 13px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
}

code {
    max-height: 70vh;
}

.red-hover:hover {
    border: 4px solid red;
}

.green-hover:hover {
    border: 4px solid green;
}

.yellow-hover:hover {
    border: 4px solid orange;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: orange;
}
